.photo {
	display: inline-block; /* Строчно-блочный элемент */
	position: relative; /* Относительное позиционирование */
}

.photo:hover::after {
	content: attr(data-title); /* Выводим текст */
	position: absolute; /* Абсолютное позиционирование */
	left: 0;
	right: 0;
	bottom: 5px; /* Положение подсказки */
	z-index: 1; /* Отображаем подсказку поверх других элементов */
	background: rgba(0, 42, 167, 0.6); /* Полупрозрачный цвет фона */
	color: #fff; /* Цвет текста */
	text-align: center; /* Выравнивание текста по центру */
	font-family:fontawesome; /* Гарнитура шрифта */
	font-size: 14px; /* Размер текста подсказки */
	padding: 5px 10px; /* Поля */
/* 	border: 1px solid #333; Параметры рамки */
}

.footer{
	
	padding: 2px 15px;
	font-size: 14px;
	text-align: center;
}

#buy {
	
	background: #3465a4;
	color: #ffffff;
	padding: 2px 20px;
	margin-left: 80px;
	border-radius: 7px;
	border: 2px solid #555753;
}

#buy:HOVER{
	background: #204a87;
	
}

.main-content{
	float: right;
	width:975px;
/* 	margin-right: 165px; */
}

.aside {
	float: left;
}

label, h4, option, select, input{
	font-size: 15px;
	font-family: fontawesome;
}

#prodBox:HOVER ,#CPUBox:HOVER ,#RAMBox:HOVER ,#videoCardBox:HOVER ,#amountHardDriveBox:HOVER {
	background: #729fcf;
}